:root{
    --reviews-color:    #F29400;
    --blog-color:       #00B9FF;
    --podcasts-color:   #FF004E;
    --bg-color:         linear-gradient(to bottom, #000000 0%, #160035 100%);
    --border-color:     linear-gradient(to bottom, #FF4E00 0%, #FF004E 100%)
    --bg-text-color:    #EEEEEE;
}

html,
body {
    font-family: sans-serif;
    background-color: var(--bg-text-color);
}

.page-header {
    grid-area: header;
    position: sticky;
    display: flex;
    align-items: center;
    height: 44px;
    z-index: 999;
    background: var(--bg-color);
    border-width: 2px;
    border-style: solid;
    border-image-source: linear-gradient(180deg, #FF4E00 0%, #FF004E 100%);
    position: sticky;
    top: 0;
}

.page-content {
    background-color: var(--bg-text-color);
    padding: 0 2rem;   
}

.page-footer {
    background-color: var(--bg-text-color);
}

.page-end {
    background-color: var(--bg-color);
    padding: 6rem 1rem;
    text-align: right;
}

.smol-container {
    width: min(100% - 3rem, var(--container-max, 60ch));
    margin-inline: auto;
}

.article-featured {
    margin: 0 -2rem;
}

.page-content {
    grid-area: main;
}

.page-footer {
    grid-area: footer;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 1.5rem;
}

.flex-center{
    display: flex;
    align-items: center;
}

.nav-container{
    display: flex;
    align-items: center;
}

.logo-primary {
    fill: #fff
}

.logo-secondary {
    fill: #eee;
}

.logo-accent {
    fill: #ff4e00
}

.isotype-primary {
    fill: #fff
}

.isotype-accent {
    fill: #ff4e00
}

.button {
    display: inline-flex;
    align-items: center;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
    padding: .5rem 1rem;
    background-color: cornflowerblue;
}
.button.outlined{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.button.small{
    padding: .25rem .75rem;
    font-size: .75rem;
    text-transform: uppercase;
}
.button.rounded {
    border-radius: 2rem;
}
.button.icon-only{
    border-radius: 2rem;
    padding: 0;
}
.button.icon-only .icon{
    margin-right: 0;
}
.button.has-icon {
    padding: 0;
    padding-right: 1.5rem;
}

.button .icon {
    margin-right: 0.5rem;
    padding: 0.5rem;
    min-height: 24px;
    min-width: 24px;
    background-color: blue;
    border-radius: 50%;
}

.no-list {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-logo{
    margin-bottom: 0.75rem;
    margin-top: 0.25rem;
}

.nav-list a{
    margin: .25rem 0;
}

.wave {
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave {

    0%,
    100% {
        clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.article-featured img {
    width: 100%;
    object-fit: contain;
}

.article-meta {
    font-size: 1.75rem;
}

.article-tags {
    display: inline-block;
}

.article-tags li {
    display: inline-block;
}

.article-tags li::after {
    content: ',';
}

.article-tags li:last-child::after {
    display: none;
}

.article-title {
    font-size: 3rem;
}

.link-menu, .link-icon, .link-reviews, .link-blog, .link-podcasts{
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    border-color: transparent;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-menu.small{
    width: 30px;
    height: 30px;
}

.meta-postedat, .meta-posttags{
    display: inline-block;
}
.m-0{
    margin: 0;
}
.article-content{
    font-size: 1.25rem;
}
.slider.podcast{
    background-color: var(--podcasts-color);
}
.slider.reviews{
    background-color: var(--reviews-color);
}

.slider{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 2px 2px;
    grid-template-areas:
        "slider-title slider-content";
    margin: 4rem 0 6rem 2rem;
}
.slider-title{
    grid-area: slider-title;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.slider-content{
    grid-area: slider-content;
    margin-top: -3rem;
    margin-bottom: -3rem;
    justify-content: space-around;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-jcc{
    justify-content: center;
}
.flex-jcs{
    justify-content: space-around;
}
.article-footer{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 310px;
    grid-template-rows: auto;
    gap: 0px;
    grid-template-areas:
        "article-categories article-recsection"
        "article-tags article-recsection"
        "article-comments article-recsection";
}
.article-categories{
    grid-area: article-categories;
}
.article-tags{
    grid-area: article-tags;
}
.article-comments{
    grid-area: article-comments;
    height: 500px;
}
.article-recsection{
    grid-area: article-recsection;
    position: sticky;
    top: 60px;
    height: fit-content;
}